p{
    COLOR:rgb(58, 128, 0);
}

button {
    color:purple;
    background-color: rgb(235, 135, 217);
}


body{
    background-color: rgb(202, 201, 196);
}

#box{
    COLOR:RED;
}

button{
    background-color: yellow;
}